*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: brown;
    text-align: center;
    margin: 100px;
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.4),
    rgba(0,0,0,1)),url(best.jpg);
    
    
}
.hero{
   color:rgb(250, 250, 250); 
   
}
.hero>h1,p{
    margin: 20px;
    color: rgb(236, 230, 230);
}
button{
    width: 200px;
    height: 30px;
    background-color: red;
    color:rgb(231, 239, 235);
    border-radius: 30%;
}

.movie-card{
    margin:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div{
    height:150px;
    width: 1700px;
    display: flex;
    justify-content: center;
    
}
.movie-img{
    background-color: rgba(138, 37, 37, 0.58);
    text-align: center;
    display: center;
}
.movie-img>img{
    width: 150px;
    position: relative;
    
    
}
.movie-img>p{
    color: rgb(239, 229, 229);
    text-align:center;
    font-family: cursive;
    font-size: 1rem;
    text-align: center ;
}